# deps cache
.cpcache

# cider files
.nrepl-port

# test files
/backup.edn
/backup.csv
/backup.pp.edn
/backup.transit
/backup.json

# generated jar and binaries.
roam-to-csv*
!roam-to-csv-cli.js

# clj-kondo cache
.clj-kondo/.cache

# build files
target/
.shadow-cljs/
node_modules/
out/

# Mac stuff
.DS_Store

.clj-kondo
