{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        datascript/datascript {:mvn/version "1.2.1"}}
 :aliases {:uberjar
           {:replace-deps
            {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar roam-to-csv.jar
                        :main-class roam-to-csv.main
                        :aot true}}}}
